<html>
    <head>
        <title>Joe's Resume</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Joe's Resume</a></h1>
        </div>
        <div>
            <p>name, email, number etc (centered)</p>
        </div>
        <div>
            <h2>Experience</h2>
            <p>text</p>
        </div>
        <div>
            <h2>Skills</h2>
            <p>text</p>
        </div>
        <div>
            <h2>Education</h2>
            <p>text</p>
        </div>
    </body>
</html>